---
import Layout from '../layouts/Layout.astro';
import GitHub from '../components/icons/gitHub';
import X from '../components/icons/x';
import Linkedin from  '../components/icons/linkedin'
import Avaliable from '../components/icons/available'
---

<Layout title="Rico.ps">
	<main class="xl:p-0 ld:p-0 md:p-0 p-[20px]">
		<header>
			<h1 class="text-[40px] font-medium mb-[10px]"> 
			 hey, soy Santiago Rico
			</h1>
			<h2 class="mb-[10px]">
				Desarrollador de Software
			</h2>
			
			<p class="xl:w-[450px] lg:w-[450px] md:w-[450px] w-[300px]   rounded shadow-md mb-[10px]">
				De Cesar, Colombia. Apasionado por la mejora continua y comprometido con el crecimiento. Listo para nuevos desafíos en entornos dinámicos.
			  </p>
			  <div class="flex gap-[20px] items-center mb-[10px]">
			<GitHub/>
			<X/>	
			<Linkedin/>
			
		</div>
		
			</header>
			<section class="flex gap-[20px] justify-center mt-[30px]">
				<p>
					Trabajo independiente
				</p>
				<p class="flex gap-[2px] justify-start items-center">
					<Avaliable/>
					Disponible para trabajar
				</p>
				
				
			</section>
	</main>
	
</Layout>

<style>
</style>
