---
import Layout from '../layouts/Layout.astro';
import GitHub from '../components/icons/gitHub';
import X from '../components/icons/x';
import Linkedin from  '../components/icons/linkedin'
import Avaliable from '../components/icons/available'
import Dowload from '../components/icons/dowload';
import example1 from '../../public/example1.jpg'
import example2 from '../../public/example2.jpg'
import example3 from '../../public/example3.jpg'
import example4 from '../../public/example4.jpg'
import { Location } from '../components/icons/location';

import Card from '../components/card';
---

<Layout title="Rico.ps">
	<main class="xl:p-0 ld:p-0 md:p-0 p-[20px] flex flex-col items-center">
		<header class="text-center">
			<h1 class="text-[40px] font-medium mb-[10px] mt-[30px]"> 
			 hey, soy Santiago Rico
			</h1>
			<h2 class="mb-[10px]">
				Desarrollador de Software
			</h2>
			
		 <p class="xl:w-[450px] lg:w-[450px] md:w-[450px] w-[300px]   rounded shadow-md mb-[10px]">
			De Colombia,  Cesar. Programador orientado a la constante innovaci칩n, explorando ideas m치s all치 de lo habitual.
			  </p> 
			  <div class="flex justify-center gap-[20px] items-center mb-[10px] ">
			<GitHub/>
			<X/>	
			<Linkedin/>
			
		</div>
		
			</header>
			<section class="flex flex-wrap text-center justify-center gap-[20px] items-center mt-[15px]">
				<p>
					Trabajo independiente
				</p>
				<p class="flex gap-[2px] justify-start items-center">
					<Avaliable/>
					Disponible para trabajar
				</p>
				<p class="flex gap-[5px] justify-start items-center">
					<Location/>
					 Cesar, Valledupar
				</p>
			</section>
			<div class="flex xl:gap-[30px] lg:gap-[30px] md:gap-[30px] gap-[20px] items-center justify-center mt-[30px]">
				<button class="bg-[#FFE071] text-[#3D3D3D] xl:w-[160px] xl:h-[50px] lg:w-[160px] lg:h-[50px] md:w-[160px] md:h-[50px] w-[140px] h-[40px] rounded-[10px] font-medium flex justify-center items-center gap-[7px] transition-all duration-300 ease-in-out transform hover:scale-105 hover:bg-[#FFD84A]">
					Descargar CV
					<Dowload/>
				</button>
			
				<button class="bg-[#3D3D3D] text-[#A3ABB2] xl:w-[160px] xl:h-[50px] lg:w-[160px] lg:h-[50px] md:w-[160px] md:h-[50px] w-[140px] h-[40px] rounded-[10px] font-medium flex justify-center items-center gap-[7px] transition-all duration-300 ease-in-out transform hover:scale-105 hover:bg-[#2D2D2D]" >
					<a href="mailto:santiagoricopassop@gmail.com">
						Cont치ctame
					</a>
					
				</button>
			</div>
			<div class="flex justify-center items-center">
			<div class="flex justify-center items-center p-[10px] bg-[#171F26] rounded-[20px] mt-[40px] xl:w-[330px] lg:w-[330px] md:w-[330px] w-[300px]">
				<button class="xl:w-[150px] lg:w-[150px] md:w-[150px] w-[130px]  xl:h-[40px] lg:h-[40px]  md:h-[40px] h-[40px] bg-transparent proyectosButton rounded-[10px]">Proyectos</button>
				<button class="w-[150px] h-[40px] bg-transparent habilidadesButton  rounded-[10px]">Habilidades</button>
			</div> 
		</div>
		<section class="card mt-5  proyectos">
			<!-- <article class="rounded-[10px] overflow-hidden ">
				<figure class="transform transition-transform hover:scale-110 cursor-pointer">
			  <img src={example1.src} alt="example1" class="w-full h-full object-cover" />
			</figure>
			</article>
			<article class="rounded-[10px] overflow-hidden ">
				<figure class="transform transition-transform hover:scale-110 cursor-pointer">
			  <img src={example2.src} alt="example2" class="w-full h-full object-cover" />
			</figure>
			</article>
			<article class="rounded-[10px] overflow-hidden ">
				<figure class="transform transition-transform hover:scale-110 cursor-pointer">
			  <img src={example3.src} alt="example3" class="w-full h-full object-cover" />
			</figure>
			</article>
			<article class="rounded-[10px] overflow-hidden ">
				<figure class="transform transition-transform hover:scale-110 cursor-pointer">
			  <img src={example4.src} alt="example4" class="w-full h-full object-cover" />
			</figure>
			</article> -->
			<Card/>

		
	</main>
	<!-- <footer class="p-[20px] mt-[50px]">
		<p>
			Santiago Rico
		</p>
	</footer> -->
</Layout>

<style>
	
    .proyectosButton,
    .habilidadesButton {
        transition: background-color 150ms ease-in-out;
    }

    .bg-active {
        background-color: #0C151D;
    }
	
	
	.proyecto{
		display: none;
	}
	
	.habilidades{
		display: none;
	}
	
</style>
<script>
	const proyectos = document.querySelector('.proyectos')
	const habilidades = document.querySelector('.habilidades')
 const proyectosButton: HTMLButtonElement | null = document.querySelector('.proyectosButton') as HTMLButtonElement;
    const habilidadesButton: HTMLButtonElement | null = document.querySelector('.habilidadesButton') as HTMLButtonElement;

    function removeBackgroundClass(button: HTMLButtonElement | null): void {
        if (button) {
            const otherButton = button === proyectosButton ? habilidadesButton : proyectosButton;
            otherButton?.classList.remove('bg-active');
        }
    }

    proyectosButton?.addEventListener('click', () => {
        removeBackgroundClass(proyectosButton);
        proyectosButton?.classList.add('bg-active');
		proyectos?.classList.remove('proyecto')
		habilidades?.classList.add('habilidades')
    });

    habilidadesButton?.addEventListener('click', () => {
        removeBackgroundClass(habilidadesButton);
        habilidadesButton?.classList.add('bg-active');
		proyectos?.classList.add('proyecto')
		habilidades?.classList.remove('habilidades')

    });
</script>
